body {
  background-color: #00693e;
  background-image: url("media/login-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.cover-container {
  max-width: 42em;
}


#title-banner {
  margin-bottom: 1em;
}



.paypal-qr {
  padding-top: 1em;
  width: 165px;
}

.venmo-qr {
  width: 220px;
}

.logo {
  width: 32px;
  margin-right: 20px;
}
.slack-logo {
  /* bump it to line up with the others */
  margin-left: 3px;
}


/* override the accordian selection color */

.accordion .accordion-button:focus {
  --bs-accordion-active-bg: #eeeeee;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem #dddddd;
}


.black-dan-image {
  width: 240px;
  margin-bottom: 3em;
}


/*
 * Header
 */

 .nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

