
body {
    background-color: #00693e;
    background-image: url("media/login-bg.png");
} 

.paypal-qr {
  padding: 1em;
  width: 180px;  
}
.venmo-qr {
  width: 220px;  
}

.logo {
  width: 32px;
  padding-right: 5px;
}
