body {
  background-color: #00693e;
  background-image: url("media/login-bg.png");
}

#title-banner {
  margin-bottom: 1em;
}

.paypal-qr {
  padding-top: 1em;
  width: 165px;
}

.venmo-qr {
  width: 220px;
}

.logo {
  width: 32px;
  margin-right: 20px;
}
.slack-logo {
  /* bump it to line up with the others */
  margin-left: 3px;
}


/* override the accordian selection color */

.accordion .accordion-button:focus {
  --bs-accordion-active-bg: #eeeeee;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem #dddddd;
}